[submodule "openNetworkHMI_service"]
	path = openNetworkHMI_service
	url = ../openNetworkHMI_service.git
	branch = master
[submodule "openNetworkHMI_web"]
	path = openNetworkHMI_web
	url = ../openNetworkHMI_web.git
	branch = master
